@model Common.Models.MileageForm
@{
    ViewData["Title"] = "Mileage Form";
}

<div class="container">
    <div class="flex-container column">

        @{await Html.RenderPartialAsync("_Header", Model);}

        <table class="table table-striped table-bordered table-hover">
            <caption>Service Log</caption>
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Miles</th>
                <th scope="col">Group?</th>
                <th scope="col">Purpose of Trip/Service Goal</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in Model.MileageEntries)
            {
                <tr>
                    <td>@t.Date.ToString("d")</td>
                    <td>@t.Miles</td>
                    <td>@(t.Group ? "Yes" : "No")</td>
                    <td>@t.PurposeOfTrip</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr class="table-success font-weight-bold">
                <th colspan="2" style="text-align: right;">Total:</th>
                <td colspan="2">@Model.TotalMiles Miles</td>
            </tr>
            </tfoot>
        </table>

        @{await Html.RenderPartialAsync("_Footer", Model);}

    </div>
</div>
