@using System.Collections
@using Amazon.CodeDeploy
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model HomeModel
@{
    ViewData["Title"] = "Home Page";

    //Multnomah County Blue and Green
    //var m_blue = "#295F97";
    //var m_green = "#467839";

    //used for zebra print table
    var color = "#8FDDE6";
}
<link rel="manifest" href="~/manifest.json">
<!-- Note: Avoid using inline styles as much as possible. Instead, use classes or ids & .css files -->

@if (SignInManager.IsSignedIn(User))
{
        <div class ="text-center">
            <div class="leftnav">
                <p>Saved filters</p>
                @Html.ActionLink("Submitted by Mickey Mouse", "Index", new {pname = "Mickey Mouse", status="all"})
                @Html.ActionLink("Submitted since 4/2/2020", "Index", new {datefrom = "2020-04-02", status = "all"})
                @Html.ActionLink("All unprocessed Timesheets", "Index", new {status="pending"})
            </div>
        </div>
}
<div class="main">
<div class="text-center" 
     style="background-color: var(--light-grey); width: 100%; margin-top: 0; padding-top: 25px; padding-bottom: 25px;
                                      left: 0; border-radius: 10px;">
@if (SignInManager.IsSignedIn(User))
{
    <div class="container-fluid">
        <form>
            <div class="row text-right">
                <div class="col-md-3">
                    <label for="pName">Provider Name:</label>
                    <input type="text" name="pName" id="pName" value="@Model.PName">
                </div>

                <div class="col-md-3">
                    <label for="cName">Client Name:</label>
                    <input type="text" name="cName" id="cName" value="@Model.CName">
                </div>
                <div class="col-md-3">
                    <label for="dateFrom">From:</label>
                    <input type="date" name="dateFrom" id="dateFrom" value="@Model.DateFrom">
                </div>
                <div class="col-md-3">
                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        @if (Model.Status.Equals("all", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <option value="all" selected>All</option>
                        }
                        else
                        {
                            <option value="all">All</option>
                        }
                        @if (Model.Status.Equals("pending", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <option value="pending" selected>Pending</option>
                        }
                        else
                        {
                            <option value="pending">Pending</option>
                        }
                        @if (Model.Status.Equals("approved", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <option value="approved" selected>Approved</option>
                        }
                        else
                        {
                            <option value="approved">Approved</option>
                        }
                        @if (Model.Status.Equals("rejected", StringComparison.CurrentCultureIgnoreCase))
                        {
                            <option value="rejected" selected>Rejected</option>
                        }
                        else
                        {
                            <option value="rejected">Rejected</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row text-right">
                <div class="col-md-3">
                    <label for="pName">Provider ID:</label>
                    <input type="select" name="providerId" id="providerId" value="@Model.ProviderId">
                </div>
                <div class="col-md-3">
                    <label for="prime">Client Prime:</label>
                    <input type="text" name="prime" id="prime" value="@Model.Prime">
                </div>
                <div class="col-md-3">
                    <label for="dateTo">To:</label>
                    <input type="date" name="dateTo" id="dateTo" value="@Model.DateTo"><br/>
                </div>
                <div class="col-md-3">
                    <label for="id">ID:</label>
                    <input type="number" name="id" id="id" value="@Model.Id"/>
                </div>
            </div>
            <br/>
            <input role="button" class="btn btn-info" type="submit" value="Apply Filters"/>
            @Html.ActionLink("Download CSV", "DownloadCSV", new
            {
                id = Model.Id,
                pname = Model.PName,
                prime = Model.Prime,
                cname = Model.CName,
                datefrom = Model.DateFrom,
                dateto = Model.DateTo,
                status = Model.Status
            }, new
            {
                @class = "btn btn-secondary "
            })
            <br/><br/>
        </form>
    </div>


    <dir id="check-the-css-file">
    <table width="100%">
    <tr class="color-div" style="background-color: #0294B5">
        <!--This ugly block of code can probably be fixed, but I'm not sure how tbh. Right now each 
        HTML ActionLink sorts the data in the table and having 2 sets for each column allows the 
        user to toggle back and forth between descending and ascending-->
        @if (Model.SortOrder == "id")
        {
            <th>@Html.ActionLink("ID", "Index", new
                {
                    sortOrder = "id_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        else
        {

            <th>@Html.ActionLink("ID", "Index", new
                {
                    sortOrder = "id",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo

                })</th>
        }

        @if (Model.SortOrder == "pname")
        {
            <th>@Html.ActionLink("Provider Name", "Index", new
                {
                    sortOrder = "pname_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo

                })</th>
        }
        else
        {
            <th>@Html.ActionLink("Provider Name", "Index", new
                {
                    sortOrder = "pname",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo

                })</th>
        }
        @if (Model.SortOrder == "providerid")
        {
            <th>@Html.ActionLink("Provider ID", "Index", new
                {
                    sortOrder = "providerid_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        else
        {
            <th>@Html.ActionLink("Provider ID", "Index", new
                {
                    sortOrder = "providerid",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        @if (Model.SortOrder == "cname")
        {
            <th>@Html.ActionLink("Client Name", "Index", new
                {
                    sortOrder = "cname_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        else
        {

            <th>@Html.ActionLink("Client Name", "Index", new
                {
                    sortOrder = "cname",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        @if (Model.SortOrder == "prime")
        {
            <th>@Html.ActionLink("Client Prime", "Index", new
                {
                    sortOrder = "prime_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        else
        {
            <th>@Html.ActionLink("Client Prime", "Index", new
                {
                    sortOrder = "prime",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        @if (Model.SortOrder == "hours")
        {
            <th>@Html.ActionLink("Hours", "Index", new
                {
                    sortOrder = "hours_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        else
        {

            <th>@Html.ActionLink("Hours", "Index", new
                {
                    sortOrder = "hours",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        @if (Model.SortOrder == "date")
        {
            <th>@Html.ActionLink("Date Submitted", "Index", new
                {
                    sortOrder = "date_desc",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
        else
        {

            <th>@Html.ActionLink("Date Submitted", "Index", new
                {
                    sortOrder = "date",
                    id = Model.Id,
                    pname = Model.PName,
                    prime = Model.Prime,
                    cname = Model.CName,
                    datefrom = Model.DateFrom,
                    dateto = Model.DateTo
                })</th>
        }
    </tr>
    @foreach (var t in Model.Sheets)
    {
        {
            //I guess this is how you do zebra print tables in CSHTML? n-thchild CSS doesn't work in IE
            color = color == "#8FDDE6" ? "#E6EFF3" : "#8FDDE6";
        }
        <tr class="color-div" style="background-color: @color">
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.TimesheetID</a></td>
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.ProviderName</a></td>
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.ProviderID</a></td>
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.ClientName</a></td>
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.ClientPrime</a></td>
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.Hours</a></td>
            <td><a asp-action="Timesheet" asp-route-id="@t.TimesheetID">@t.Submitted</a></td>
        </tr>
    }
    </table>
    @if (Model.Sheets.Count == 0)
    {
        <br/>
        <p>No Timesheets found matching parameters</p>
    }
    </dir>
}else { <h1>Please <a asp-area="Identity" asp-page="/Account/Login">login</a> or <a asp-area="Identity" asp-page="/Account/Register">register</a> to continue</h1>}
    </div>
</div>
